body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(woodWall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 10px;
}

#container {
    background-image: url("teeball.jpg");
    width: 100%;
    /*height: auto;*/
    background-size: cover;
    position: relative;
    clear: both;
    margin: 0 auto;
    min-height: 900px;
    color: black;

}
.container{
    width: 400px;
    margin: 10px;
    display: inline-block;
    margin: auto;
    left: 0px;

}
#FinishButton{
    top: 0px;
    right: 0px;
    position: relative;
    float: right;

}

#InfoButton{
    top: 0;
    left: 0;
    float: left;
    position: relative;
}

.table-striped {

}

.table{
   background-color: white;
}

#modalbackground {
    position: absolute;
    border-radius: 20px;
    padding: 10px;
    top: 0px;
    text-align: center;
    width: 50%;
    height: 500px;
    left: 25%;
    right: 25%;
    height: 50%;
    margin: auto;
    border: solid 3px;
    background-color: white;
    opacity: 0.9;
    z-index: 999;
    /*box-shadow: 0px 10px 5px #888888;*/
}

#goButton:hover {
    background-color: #515151;

}

#setupmodal {
    width: 600px;
    margin: 0 auto;
    height: auto;
    border-radius: 4px;
    background-color: Transparent;

}

/*#golfBanner {*/
    /*width: 100%;*/
    /*height: auto;*/
    /*background-size: cover;*/
    /*background-position: 50% 35%;*/
    /*!*margin: 25px auto;*!*/
    /*clear: both;*/
    /*position: relative;*/
    /*min-height: 200px;*/
    /*display: none;*/
    /*color: whitesmoke;*/

/*}*/

#cardLeft {
    border-radius: 4px;
    padding: 10px;
    float: left;
    color: white;

}

#cardRight {
    width: auto;
    display: flex;
    padding: 10px;
}


/*#container{
    width: 90%;
    margin: 20px auto;
    border-radius: 10px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}*/


#playercount{
    border: solid 4px;
    border-radius: 6px;
    padding: 10px;
}




/*weather api*/
#weather {
    width: 500px;
    margin: 0px auto;
    text-align: center;
    text-transform: uppercase;
    color: whitesmoke;

}

#weather ul {
    margin: 0;
    padding: 0;
}

#weather li {
    background: #fff;
    background: rgba(255,255,255,0.90);
    color: #515151;
    padding: 20px;
    display: inline-block;
    border-radius: 5px;
}

#weather .currently {
    margin: 0 20px;
}